.App {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.App h2 {
  padding-left: 0;
  color: #ffffffdd;
  text-align: center;
  font-size: 1.5rem; /* Adjusted for responsiveness */
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .input-container {
    flex-direction: row;
    align-items: center;
  }
}

.dictionarys-list {
  margin-bottom: 20px;
}

.ant-modal .ant-modal-title {
  color: #bc5cb8dd;
}

.total-field {
  text-align: center;
  margin-top: 20px;
}

.button {
  margin: 5px;
  background-color: #bc5cb8dd;
  padding: 10px 20px; /* Added padding for better touch support */
  border: none;
  border-radius: 5px; /* Rounded corners for a modern look */
  cursor: pointer;
}

.ant-btn-primary,
.ant-btn {
  background-color: #bc5cb8dd;
  color: #ffffffdd;
  border: none;
  border-radius: 5px; /* Rounded corners for consistency */
}

.ant-btn-primary.button:hover,
.ant-btn-primary.button:active {
  background-color: #4e0b4add;
}

.header {
  background-color: #bc5cb8dd;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h3 {
  color: #bc5cb8dd;
  font-size: 1.2rem; /* Adjusted for responsiveness */
}

.header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem; /* Adjusted for responsiveness */
}

.no-click-effect {
  background-color: #bc5cb8dd;
  border-color: #bc5cb8dd;
  color: #ffffff;
}

.no-click-effect:hover,
.no-click-effect:active {
  background-color: #ffa1fadd;
  border-color: #ffa1fadd;
  color: #ffffffdd;
}

@media (max-width: 767px) {
  .App h2 {
    font-size: 1.2rem; /* Responsive font size for small screens */
  }

  .header h1 {
    font-size: 2rem; /* Responsive font size for small screens */
  }

  .button {
    width: 100%;
    margin: 5px 0;
    padding: 10px; /* Ensure button text is readable on smaller screens */
  }

  .input-container {
    flex-direction: column; /* Stack input fields on smaller screens */
  }
}

@media (min-width: 1200px) {
  .App {
    padding: 0 30px; /* More padding for large screens */
  }

  .App h2 {
    font-size: 2rem; /* Larger font size for larger screens */
  }

  .header h1 {
    font-size: 3rem; /* Larger font size for larger screens */
  }
}
